body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:124px;
  top:14px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:70px;
  width:110px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:70px;
  width:110px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:170px;
  width:110px;
  height:70px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:65px;
  top:144px;
  width:40px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:195px;
  top:144px;
  width:40px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:58px;
  top:244px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:48px;
  top:440px;
  width:201px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:160px;
  top:170px;
  width:110px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:172px;
  top:242px;
  width:86px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:30px;
  top:272px;
  width:110px;
  height:70px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:42px;
  top:344px;
  width:79px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:460px;
  overflow:hidden;
  visibility:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u32 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:80px;
  width:260px;
  height:260px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u34 {
  position:absolute;
  left:2px;
  top:122px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:38px;
  top:124px;
  width:224px;
  height:96px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:96px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:35px;
  top:280px;
  width:110px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:155px;
  top:280px;
  width:110px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
