body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:124px;
  top:12px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:50px;
  width:280px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:280px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:82px;
  width:280px;
  height:122px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:122px;
}
#u12 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:267px;
  width:280px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:280px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:305px;
  width:280px;
  height:70px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:10px;
  top:210px;
  width:280px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:50px;
  top:430px;
  width:200px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
