body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:124px;
  top:10px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:48px;
  width:125px;
  height:32px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:30px;
  top:87px;
  width:135px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:131px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:35px;
  top:450px;
  width:230px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:152px;
  top:52px;
  width:65px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:225px;
  top:56px;
  width:66px;
  height:16px;
  color:#0000FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:10px;
  top:170px;
  width:125px;
  height:32px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:30px;
  top:209px;
  width:135px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:131px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:152px;
  top:174px;
  width:65px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:225px;
  top:178px;
  width:66px;
  height:16px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:10px;
  top:290px;
  width:125px;
  height:32px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:30px;
  top:329px;
  width:135px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:131px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:152px;
  top:294px;
  width:65px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:225px;
  top:298px;
  width:66px;
  height:16px;
  color:#0000FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
