body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:104px;
  top:14px;
  width:92px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:98px;
  width:200px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:8px;
  top:61px;
  width:285px;
  height:27px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:281px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:155px;
  top:194px;
  width:120px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:20px;
  top:189px;
  width:125px;
  height:32px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:20px;
  top:234px;
  width:125px;
  height:32px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:20px;
  top:280px;
  width:125px;
  height:32px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:8px;
  top:153px;
  width:285px;
  height:27px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:281px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:8px;
  top:333px;
  width:285px;
  height:27px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:281px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:370px;
  width:200px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:46px;
  top:440px;
  width:210px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:155px;
  top:239px;
  width:120px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:155px;
  top:285px;
  width:120px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
