body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:104px;
  top:11px;
  width:92px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:50px;
  width:280px;
  height:30px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:87px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:17px;
  top:92px;
  width:40px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:90px;
  top:118px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:17px;
  top:123px;
  width:66px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:90px;
  top:149px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:17px;
  top:154px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:90px;
  top:184px;
  width:30px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:17px;
  top:189px;
  width:53px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:130px;
  top:184px;
  width:30px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:170px;
  top:184px;
  width:120px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:17px;
  top:222px;
  width:66px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:130px;
  top:219px;
  width:160px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27_input:disabled {
  color:grayText;
}
#u28 {
  position:absolute;
  left:90px;
  top:222px;
  width:27px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:17px;
  top:251px;
  width:66px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:93px;
  top:248px;
  width:197px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:17px;
  top:313px;
  width:79px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:93px;
  top:310px;
  width:197px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:90px;
  top:277px;
  width:200px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:17px;
  top:282px;
  width:53px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:152px;
  top:445px;
  width:140px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:8px;
  top:445px;
  width:140px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:10px;
  top:350px;
  width:280px;
  height:30px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:10px;
  top:390px;
  width:280px;
  height:30px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
