body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:124px;
  top:14px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:50px;
  width:280px;
  height:30px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:17px;
  top:96px;
  width:66px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:17px;
  top:120px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:17px;
  top:144px;
  width:66px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:110px;
  top:96px;
  width:170px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:110px;
  top:120px;
  width:170px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:110px;
  top:144px;
  width:170px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:17px;
  top:170px;
  width:66px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:110px;
  top:170px;
  width:170px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:17px;
  top:196px;
  width:66px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:110px;
  top:196px;
  width:170px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:230px;
  width:280px;
  height:30px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:153px;
  top:278px;
  width:120px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:18px;
  top:273px;
  width:125px;
  height:32px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:153px;
  top:320px;
  width:120px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36_input:disabled {
  color:grayText;
}
#u37 {
  position:absolute;
  left:18px;
  top:315px;
  width:125px;
  height:32px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:153px;
  top:362px;
  width:120px;
  height:22px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  position:absolute;
  left:18px;
  top:357px;
  width:125px;
  height:32px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:48px;
  top:442px;
  width:220px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
