body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:136px;
  top:14px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:14px;
  top:90px;
  width:270px;
  height:40px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:9px;
  width:270px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:335px;
  width:200px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:14px;
  top:150px;
  width:270px;
  height:40px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u14 {
  position:absolute;
  left:0px;
  top:9px;
  width:270px;
  word-wrap:break-word;
}
