body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:12px;
  width:79px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:90px;
  top:100px;
  width:120px;
  height:120px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:27px;
  top:250px;
  width:243px;
  height:80px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:80px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:55px;
  top:365px;
  width:190px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:118px;
  top:134px;
  width:65px;
  height:52px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
  background-color:transparent;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
