body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:9px;
  width:30px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:124px;
  top:14px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:5px;
  top:43px;
  width:290px;
  height:284px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:284px;
}
#u10 {
  position:absolute;
  left:2px;
  top:134px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:48px;
  width:270px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:9px;
  top:80px;
  width:270px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:9px;
  top:98px;
  width:270px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:15px;
  top:118px;
  width:130px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:155px;
  top:118px;
  width:130px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:60px;
  top:198px;
  width:40px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:200px;
  top:198px;
  width:40px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:15px;
  top:224px;
  width:130px;
  height:80px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:53px;
  top:304px;
  width:53px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:155px;
  top:224px;
  width:130px;
  height:80px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:177px;
  top:304px;
  width:86px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:9px;
  top:64px;
  width:270px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:6px;
  width:96px;
  height:30px;
  overflow:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:40px;
  top:7px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
